In [1]:
from tool import *

## DPK blanket PO 발행 결과 열기

In [4]:
df = pd.read_clipboard()
df

                 Component  Stock  WK29
0  AZDPKW11161*SAE30762501   1064   300
1  AZDPKW11196*SAE30761301    454   200
2  AZDPKW11197*SAE30761501   2797  2500
3  AZDPKW11198*SAE30762701    790   100

In [5]:
rq_date = datetime.date(2023, 7, 13) # 요청일 입력
wk_num = 29
df['Quanta P/N'] = df['Component'].apply(lambda x:x.split('*')[0])
df['LG P/N'] = df['Component'].apply(lambda x:x.split('*')[1])
df['Quanta Request Date'] = rq_date
df

,Component,Stock,WK29,Quanta P/N,LG P/N,Quanta Request Date
0,AZDPKW11161*SAE30762501,1064,300,AZDPKW11161,SAE30762501,2023-07-13
1,AZDPKW11196*SAE30761301,454,200,AZDPKW11196,SAE30761301,2023-07-13
2,AZDPKW11197*SAE30761501,2797,2500,AZDPKW11197,SAE30761501,2023-07-13
3,AZDPKW11198*SAE30762701,790,100,AZDPKW11198,SAE30762701,2023-07-13

In [6]:
df = df.drop(columns='Component')

In [7]:
df = df.rename(columns={f'WK{wk_num}':'Request Qty'})

In [8]:
with open('D:/Data/DB backup/dpk.bin', 'rb') as f:
    dpk = pickle.load(f)

In [9]:
df.merge(dpk)

,Stock,Request Qty,Quanta P/N,LG P/N,Quanta Request Date,MS P/N,Part Name
0,1064,300,AZDPKW11161,SAE30762501,2023-07-13,KK3-00027,Win 11 Home Plus
1,454,200,AZDPKW11196,SAE30761301,2023-07-13,KW9-00609,Win 11 Home OEM OLC OA3
2,2797,2500,AZDPKW11197,SAE30761501,2023-07-13,FQC-10428,Win 11 Pro OEM OLC OA3
3,790,100,AZDPKW11198,SAE30762701,2023-07-13,KUK-00003,Win 11 Home Advanced OEM OLC OA3

In [10]:
with open('D:/Data/DPK blanket PO DB.bin', 'rb') as f:
    bpo = pickle.load(f)

In [11]:
bpo = pd.concat([bpo, df.merge(dpk)])[bpo.columns]
bpo.tail()

,Stock,Request Qty,Quanta P/N,LG P/N,Quanta Request Date,MS P/N,Part Name,Order Type,LG PO No.,LG PO Date,Order Qty,MS Order No.
64,10,30,AZDPKW11300,SAE30762601,2023-07-06 00:00:00,NA3-00013,Win 11 Home Plus SL,Blanket Order,O202300029854,2023-07-06,30.0,1140098647
0,1064,300,AZDPKW11161,SAE30762501,2023-07-13,KK3-00027,Win 11 Home Plus,NaN,NaN,NaT,NaN,NaN
1,454,200,AZDPKW11196,SAE30761301,2023-07-13,KW9-00609,Win 11 Home OEM OLC OA3,NaN,NaN,NaT,NaN,NaN
2,2797,2500,AZDPKW11197,SAE30761501,2023-07-13,FQC-10428,Win 11 Pro OEM OLC OA3,NaN,NaN,NaT,NaN,NaN
3,790,100,AZDPKW11198,SAE30762701,2023-07-13,KUK-00003,Win 11 Home Advanced OEM OLC OA3,NaN,NaN,NaT,NaN,NaN

In [12]:
bpo = bpo.reset_index(drop=True)

In [13]:
with open('D:/Data/DPK blanket PO DB.bin', 'wb') as f:
    pickle.dump(bpo, f)

## DPK Blanket PO 발행 완료 후

In [14]:
with open('D:/Data/DPK blanket PO DB.bin', 'rb') as f:
    bpo = pickle.load(f)

In [15]:
df1 = pd.read_excel('D:/key order inquiry.xlsx')
df1

,Site,Site.1,Order Type,Key Type,LG\nPO No.,LG\nPO Date,MS P/No.,Part Name,LG P/No.,Order Qty,Fulfillment\nQty,Gap Qty,Order Status,MS\nOrder No.
0,Quanta,Quanta,Blanket Order,DPK,O202300029876,2023-07-14,KUK-00003,Win 11 Home Advanced OEM OLC OA3,SAE30762701,100,0,100,OrderAck Response,1140098540
1,Quanta,Quanta,Blanket Order,DPK,O202300029877,2023-07-14,FQC-10428,Win 11 Pro OEM OLC OA3,SAE30761501,2500,0,2500,OrderAck Response,1140098646
2,Quanta,Quanta,Blanket Order,DPK,O202300029878,2023-07-14,KW9-00609,Win 11 Home OEM OLC OA3,SAE30761301,200,0,200,OrderAck Response,1140098561
3,NaN,Quanta,Blanket Order,DPK,O202300029879,2023-07-14,KK3-00027,Win 11 Home Plus,SAE30762501,300,0,300,OrderAck Response,1140098685

In [16]:
df1 = df1.rename(columns={'LG\nPO No.':'LG PO No.', 'LG\nPO Date':'LG PO Date', 'MS\nOrder No.':'MS Order No.', 'MS P/No.':'MS P/N', 'LG P/No.':'LG P/N'})
df1

,Site,Site.1,Order Type,Key Type,LG PO No.,LG PO Date,MS P/N,Part Name,LG P/N,Order Qty,Fulfillment\nQty,Gap Qty,Order Status,MS Order No.
0,Quanta,Quanta,Blanket Order,DPK,O202300029876,2023-07-14,KUK-00003,Win 11 Home Advanced OEM OLC OA3,SAE30762701,100,0,100,OrderAck Response,1140098540
1,Quanta,Quanta,Blanket Order,DPK,O202300029877,2023-07-14,FQC-10428,Win 11 Pro OEM OLC OA3,SAE30761501,2500,0,2500,OrderAck Response,1140098646
2,Quanta,Quanta,Blanket Order,DPK,O202300029878,2023-07-14,KW9-00609,Win 11 Home OEM OLC OA3,SAE30761301,200,0,200,OrderAck Response,1140098561
3,NaN,Quanta,Blanket Order,DPK,O202300029879,2023-07-14,KK3-00027,Win 11 Home Plus,SAE30762501,300,0,300,OrderAck Response,1140098685

In [17]:
df1 = df1.drop(columns=['Site', 'Key Type', 'Fulfillment\nQty', 'Gap Qty', 'Order Status'])
df1['Order Qty'] = df1['Order Qty'].astype(str).apply(lambda x:int(x.replace(',', '')))
df1['LG PO Date'] = pd.to_datetime(df1['LG PO Date'])
df1

,Site.1,Order Type,LG PO No.,LG PO Date,MS P/N,Part Name,LG P/N,Order Qty,MS Order No.
0,Quanta,Blanket Order,O202300029876,2023-07-14,KUK-00003,Win 11 Home Advanced OEM OLC OA3,SAE30762701,100,1140098540
1,Quanta,Blanket Order,O202300029877,2023-07-14,FQC-10428,Win 11 Pro OEM OLC OA3,SAE30761501,2500,1140098646
2,Quanta,Blanket Order,O202300029878,2023-07-14,KW9-00609,Win 11 Home OEM OLC OA3,SAE30761301,200,1140098561
3,Quanta,Blanket Order,O202300029879,2023-07-14,KK3-00027,Win 11 Home Plus,SAE30762501,300,1140098685

In [18]:
bpo.tail(10)

,Stock,Request Qty,Quanta P/N,LG P/N,Quanta Request Date,MS P/N,Part Name,Order Type,LG PO No.,LG PO Date,Order Qty,MS Order No.
59,13,1221,AZDPKW11161,SAE30762501,2023-07-04 00:00:00,KK3-00027,Win 11 Home Plus,Blanket Order,O202300029853,2023-07-04,1221.0,1140098499
60,0,1019,AZDPKW11197,SAE30761501,2023-07-04 00:00:00,FQC-10428,Win 11 Pro OEM OLC OA3,Blanket Order,O202300029852,2023-07-04,1019.0,1140098632
61,40,150,AZDPKW11198,SAE30762701,2023-07-04 00:00:00,KUK-00003,Win 11 Home Advanced OEM OLC OA3,Blanket Order,O202300029851,2023-07-04,150.0,1140098151
62,1019,2800,AZDPKW11197,SAE30761501,2023-07-06 00:00:00,FQC-10428,Win 11 Pro OEM OLC OA3,Blanket Order,O202300029856,2023-07-06,2800.0,1140098657
63,190,600,AZDPKW11198,SAE30762701,2023-07-06 00:00:00,KUK-00003,Win 11 Home Advanced OEM OLC OA3,Blanket Order,O202300029855,2023-07-06,600.0,1140098652
64,10,30,AZDPKW11300,SAE30762601,2023-07-06 00:00:00,NA3-00013,Win 11 Home Plus SL,Blanket Order,O202300029854,2023-07-06,30.0,1140098647
65,1064,300,AZDPKW11161,SAE30762501,2023-07-13,KK3-00027,Win 11 Home Plus,NaN,NaN,NaT,NaN,NaN
66,454,200,AZDPKW11196,SAE30761301,2023-07-13,KW9-00609,Win 11 Home OEM OLC OA3,NaN,NaN,NaT,NaN,NaN
67,2797,2500,AZDPKW11197,SAE30761501,2023-07-13,FQC-10428,Win 11 Pro OEM OLC OA3,NaN,NaN,NaT,NaN,NaN
68,790,100,AZDPKW11198,SAE30762701,2023-07-13,KUK-00003,Win 11 Home Advanced OEM OLC OA3,NaN,NaN,NaT,NaN,NaN

In [19]:
for row in df1.iterrows():
    c1 = (bpo['Request Qty'] == row[1]['Order Qty'])
    c2 = (bpo['LG P/N'] == row[1]['LG P/N'])
    c3 = (bpo['Order Type'].isnull())
    bpo.loc[c1 & c2 & c3, ['Order Type', 'LG PO No.', 'LG PO Date', 'Order Qty', 'MS Order No.']] = [
        row[1]['Order Type'], row[1]['LG PO No.'], row[1]['LG PO Date'], row[1]['Order Qty'], row[1]['MS Order No.']]

In [20]:
bpo.tail()

,Stock,Request Qty,Quanta P/N,LG P/N,Quanta Request Date,MS P/N,Part Name,Order Type,LG PO No.,LG PO Date,Order Qty,MS Order No.
64,10,30,AZDPKW11300,SAE30762601,2023-07-06 00:00:00,NA3-00013,Win 11 Home Plus SL,Blanket Order,O202300029854,2023-07-06,30.0,1140098647
65,1064,300,AZDPKW11161,SAE30762501,2023-07-13,KK3-00027,Win 11 Home Plus,Blanket Order,O202300029879,2023-07-14,300.0,1140098685
66,454,200,AZDPKW11196,SAE30761301,2023-07-13,KW9-00609,Win 11 Home OEM OLC OA3,Blanket Order,O202300029878,2023-07-14,200.0,1140098561
67,2797,2500,AZDPKW11197,SAE30761501,2023-07-13,FQC-10428,Win 11 Pro OEM OLC OA3,Blanket Order,O202300029877,2023-07-14,2500.0,1140098646
68,790,100,AZDPKW11198,SAE30762701,2023-07-13,KUK-00003,Win 11 Home Advanced OEM OLC OA3,Blanket Order,O202300029876,2023-07-14,100.0,1140098540

In [21]:
bpo[bpo['Quanta Request Date'] == bpo['Quanta Request Date'].max()]

C:\Users\paul76.lee\AppData\Local\miniconda3\lib\site-packages\numpy\core\_methods.py:40: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\paul76.lee\AppData\Local\Temp\ipykernel_9580\1598323747.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  bpo[bpo['Quanta Request Date'] == bpo['Quanta Request Date'].max()]

,Stock,Request Qty,Quanta P/N,LG P/N,Quanta Request Date,MS P/N,Part Name,Order Type,LG PO No.,LG PO Date,Order Qty,MS Order No.
65,1064,300,AZDPKW11161,SAE30762501,2023-07-13,KK3-00027,Win 11 Home Plus,Blanket Order,O202300029879,2023-07-14,300.0,1140098685
66,454,200,AZDPKW11196,SAE30761301,2023-07-13,KW9-00609,Win 11 Home OEM OLC OA3,Blanket Order,O202300029878,2023-07-14,200.0,1140098561
67,2797,2500,AZDPKW11197,SAE30761501,2023-07-13,FQC-10428,Win 11 Pro OEM OLC OA3,Blanket Order,O202300029877,2023-07-14,2500.0,1140098646
68,790,100,AZDPKW11198,SAE30762701,2023-07-13,KUK-00003,Win 11 Home Advanced OEM OLC OA3,Blanket Order,O202300029876,2023-07-14,100.0,1140098540

In [22]:
bpo[bpo['Quanta Request Date'] == bpo['Quanta Request Date'].max()].to_clipboard()

C:\Users\paul76.lee\AppData\Local\miniconda3\lib\site-packages\numpy\core\_methods.py:40: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\paul76.lee\AppData\Local\Temp\ipykernel_9580\1026119151.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  bpo[bpo['Quanta Request Date'] == bpo['Quanta Request Date'].max()].to_clipboard()

In [24]:
bpo['Quanta Request Date'] = pd.to_datetime(bpo['Quanta Request Date'])

C:\Users\paul76.lee\AppData\Local\Temp\ipykernel_9580\1723913820.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  bpo['Quanta Request Date'] = pd.to_datetime(bpo['Quanta Request Date'])
C:\Users\paul76.lee\AppData\Local\Temp\ipykernel_9580\1723913820.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  bpo['Quanta Request Date'] = pd.to_datetime(bpo['Quanta Request Date'])

In [25]:
bpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Stock                69 non-null     int64
 1   Request Qty          69 non-null     int64
 2   Quanta P/N           69 non-null     object
 3   LG P/N               69 non-null     object
 4   Quanta Request Date  69 non-null     datetime64[ns]
 5   MS P/N               69 non-null     object
 6   Part Name            69 non-null     object
 7   Order Type           69 non-null     object
 8   LG PO No.            69 non-null     object
 9   LG PO Date           69 non-null     datetime64[ns]
 10  Order Qty            69 non-null     float64
 11  MS Order No.         69 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 6.6+ KB

In [26]:
with open('D:/Data/DPK blanket PO DB.bin', 'wb') as f:
    pickle.dump(bpo, f)

In [27]:
with open('D:/Data/DB backup/DPK blanket PO DB.bin', 'wb') as f:
    pickle.dump(bpo, f)

## DPK 정보 변경 시 저장

In [13]:
with open('D:/Data/DB backup/dpk.bin', 'wb') as f:
    pickle.dump(dpk_db, f)