## DPK 반납 정보를 가공하여 데이타프레임(df) 으로 만듬

In [1]:
from tool import *

In [107]:
df = pd.read_excel(get_filename())
df['DPK_ID'] = df['DPK_ID'].astype(str)
df['MS_DateTime'] = df['MS_DateTime'].astype(str)
df['MS_DateTime'] = pd.to_datetime(df['MS_DateTime'])
df

,DPK_ID,CUST_NAME,CUST_DPK_PN,QCI_DPK_PN,MS_DPK_PN,Status,UpdateDateTime,CUST_DateTime,MS_DateTime,Unnamed: 9
0,3422207253884,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128193740,20221026135352,2022-10-26 13:53:52,send on 1/9
1,3422207253874,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221129101617,20221026135352,2022-10-26 13:53:52,send on 1/9
2,3422207250912,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128173331,20221026135352,2022-10-26 13:53:52,send on 1/9
3,3422207259907,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128161728,20221026135352,2022-10-26 13:53:52,send on 1/9
4,3422207250950,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128165559,20221026135352,2022-10-26 13:53:52,send on 1/9
...,...,...,...,...,...,...,...,...,...,...
307,3422208021132,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084748,20221122102351,2022-11-22 10:23:51,NaN
308,3422097688897,LG,SAE30761301,AZDPKW11196,KW9-00609,RTN,20230209085641,20221122102351,2022-11-22 10:23:51,NaN
309,3422208537682,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209085201,20221206115424,2022-12-06 11:54:24,NaN
310,3422208021042,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084743,20221122102351,2022-11-22 10:23:51,NaN
311,3422208021052,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084832,20221122102351,2022-11-22 10:23:51,NaN

## 1. DPK 반납 요청 리스트의 데이타 이상 여부 확인

In [108]:
# DPK ID 반납 요청 개수 확인
row_qty = len(df['DPK_ID'])
return_qty = len(df['DPK_ID'].unique())
str_len_check = df['DPK_ID'].str.len()
print(f'1. DPK ID의 행의 개수: {row_qty}')
print(f'2. DPK ID의 반납 수량: {return_qty}')
print(f'3. DPK 자리수(13자리) 이상한 것의 개수 : {(str_len_check != 13).sum()}') # 요청 DPK의 자리수가 13자리로 되어 있는지 확인
print(f'4. DPK P/N 자리수(9자리) 이상한 것의 개수: {(df["MS_DPK_PN"].astype(str).str.len() != 9 ).sum()}') # DPK ID 의 자리수가 9자리로 되어 있는지 확인

1. DPK ID의 행의 개수: 312
2. DPK ID의 반납 수량: 312
3. DPK 자리수(13자리) 이상한 것의 개수 : 0
4. DPK P/N 자리수(9자리) 이상한 것의 개수: 0

In [109]:
df['DPK Name'] = df['MS_DPK_PN'].map(dpk_map) # DPK Name 컬럼에 DPK PN에 맞는 Name matching

In [110]:
print(df.groupby(['MS_DPK_PN', 'DPK Name']).size()) # DPK 종류별 수량 확인
print('총 수량 :', df.groupby(['MS_DPK_PN', 'DPK Name']).size().sum()) # DPK 종류별 수량 확인

MS_DPK_PN  DPK Name
CSQ-00009  Windows 11 Pro Entry      6
FQC-08797  Win 10 Pro                5
FQC-10428  Win 11 Pro                1
KK3-00027  Win 11 Home Plus        221
KW9-00609  Win 11 Home              79
dtype: int64
총 수량 : 312

## PKID가 PC OA의 DPK Fullfillment DB에 기 포함되어 있는지 확인

In [6]:
with open('D:/Data/DPK Fullfillment DB.bin', 'rb') as f:
    ff_db = pickle.load(f)

In [8]:
dpk_dup = pd.DataFrame(columns=df.columns)
dpk_dup

Empty DataFrame
Columns: [DPK_ID, CUST_NAME, CUST_DPK_PN, QCI_DPK_PN, MS_DPK_PN, Status, UpdateDateTime, CUST_DateTime, MS_DateTime, Unnamed: 9, DPK Name]
Index: []

In [9]:
for row in df.iterrows():
    if row[1]['DPK_ID'] in ff_db['PKID'].tolist():
        dpk_dup = dpk_dup.append(row[1])
dpk_dup

,DPK_ID,CUST_NAME,CUST_DPK_PN,QCI_DPK_PN,MS_DPK_PN,Status,UpdateDateTime,CUST_DateTime,MS_DateTime,Unnamed: 9,DPK Name
0,3422207253884,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128193740,20221026135352,2022-10-26 13:53:52,send on 1/9,Win 11 Home Plus
1,3422207253874,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221129101617,20221026135352,2022-10-26 13:53:52,send on 1/9,Win 11 Home Plus
2,3422207250912,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128173331,20221026135352,2022-10-26 13:53:52,send on 1/9,Win 11 Home Plus
3,3422207259907,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128161728,20221026135352,2022-10-26 13:53:52,send on 1/9,Win 11 Home Plus
4,3422207250950,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20221128165559,20221026135352,2022-10-26 13:53:52,send on 1/9,Win 11 Home Plus
...,...,...,...,...,...,...,...,...,...,...,...
307,3422208021132,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084748,20221122102351,2022-11-22 10:23:51,NaN,Win 11 Home Plus
308,3422097688897,LG,SAE30761301,AZDPKW11196,KW9-00609,RTN,20230209085641,20221122102351,2022-11-22 10:23:51,NaN,Win 11 Home
309,3422208537682,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209085201,20221206115424,2022-12-06 11:54:24,NaN,Win 11 Home Plus
310,3422208021042,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084743,20221122102351,2022-11-22 10:23:51,NaN,Win 11 Home Plus
311,3422208021052,LG,SAE30762501,AZDPKW11161,KK3-00027,RTN,20230209084832,20221122102351,2022-11-22 10:23:51,NaN,Win 11 Home Plus

## 1단계 : DPK return 전 반납하려는 DPK 의 Fullfillment 정보를 등록하기 위한 format 생성

In [111]:
# fullfillment 정보 등록하는 format의 컬럼명를 설정
col = ['Site', 'MS P/No.', 'PKID', 'FulfilledDateUTC', 'OEM PO Number', 'Date of Update', 'Remark']

In [112]:
f1 = datetime.date.today().strftime('%y%m%d')
return_PO_num = f'QT{f1}_01'

df1 = df[['MS_DPK_PN', 'DPK_ID', 'MS_DateTime' ]]
df1.insert(0, 'Site', 'QT')
df1['OEM PO Number'] = return_PO_num
df1['Date Of Update'] = None
df1['Remark'] = None
df1

C:\Users\paul76.lee\AppData\Local\Temp/ipykernel_848/2853372322.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['OEM PO Number'] = return_PO_num
C:\Users\paul76.lee\AppData\Local\Temp/ipykernel_848/2853372322.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date Of Update'] = None
C:\Users\paul76.lee\AppData\Local\Temp/ipykernel_848/2853372322.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Remark'] = None

,Site,MS_DPK_PN,DPK_ID,MS_DateTime,OEM PO Number,Date Of Update,Remark
0,QT,KK3-00027,3422207253884,2022-10-26 13:53:52,QT230218_01,None,None
1,QT,KK3-00027,3422207253874,2022-10-26 13:53:52,QT230218_01,None,None
2,QT,KK3-00027,3422207250912,2022-10-26 13:53:52,QT230218_01,None,None
3,QT,KK3-00027,3422207259907,2022-10-26 13:53:52,QT230218_01,None,None
4,QT,KK3-00027,3422207250950,2022-10-26 13:53:52,QT230218_01,None,None
...,...,...,...,...,...,...,...
307,QT,KK3-00027,3422208021132,2022-11-22 10:23:51,QT230218_01,None,None
308,QT,KW9-00609,3422097688897,2022-11-22 10:23:51,QT230218_01,None,None
309,QT,KK3-00027,3422208537682,2022-12-06 11:54:24,QT230218_01,None,None
310,QT,KK3-00027,3422208021042,2022-11-22 10:23:51,QT230218_01,None,None
311,QT,KK3-00027,3422208021052,2022-11-22 10:23:51,QT230218_01,None,None

In [113]:
df1.columns = ['Site', 'MS P/No.', 'PKID', 'FulfilledDateUTC', 'OEM PO Number', 'Date of Update', 'Remark']

In [114]:
df1

,Site,MS P/No.,PKID,FulfilledDateUTC,OEM PO Number,Date of Update,Remark
0,QT,KK3-00027,3422207253884,2022-10-26 13:53:52,QT230218_01,None,None
1,QT,KK3-00027,3422207253874,2022-10-26 13:53:52,QT230218_01,None,None
2,QT,KK3-00027,3422207250912,2022-10-26 13:53:52,QT230218_01,None,None
3,QT,KK3-00027,3422207259907,2022-10-26 13:53:52,QT230218_01,None,None
4,QT,KK3-00027,3422207250950,2022-10-26 13:53:52,QT230218_01,None,None
...,...,...,...,...,...,...,...
307,QT,KK3-00027,3422208021132,2022-11-22 10:23:51,QT230218_01,None,None
308,QT,KW9-00609,3422097688897,2022-11-22 10:23:51,QT230218_01,None,None
309,QT,KK3-00027,3422208537682,2022-12-06 11:54:24,QT230218_01,None,None
310,QT,KK3-00027,3422208021042,2022-11-22 10:23:51,QT230218_01,None,None
311,QT,KK3-00027,3422208021052,2022-11-22 10:23:51,QT230218_01,None,None

In [13]:
df1.to_excel(f'D:/Python result/DPK Return/{f1}_Quanta_DPK_Fullfillment_register_{return_qty}.xlsx', index = False)

## 2단계 : DPK 반납을 위한 DPK와 S/N의 매칭 정보(CBR)를 업로드

In [115]:
df_cbr = pd.read_excel(get_filename(), sheet_name='312pcs PKID&SN mapping')
df_cbr['DPK_ID'] = df_cbr['DPK_ID'].astype(str)
df_cbr['QCI_SN'] = df_cbr['QCI_SN'].str.strip()

In [116]:
row_qty = len(df_cbr['DPK_ID'])
dpk_unique_qty = len(df_cbr['DPK_ID'].unique().tolist())
sn_unique_qty = len(df_cbr['QCI_SN'].unique().tolist())
str_len_check1 = df_cbr['DPK_ID'].str.len()
str_len_check2 = df_cbr['QCI_SN'].str.len()

print(f'1. DPK ID의 열의 개수: {row_qty}')
print(f'2. DPK ID의 수량: {dpk_unique_qty}')
print(f'3. SET S/N의 수량: {sn_unique_qty}')
print(f'4. DPK 자리수(13자리) 이상한 것의 개수 : {(str_len_check1 != 13).sum()}') # 요청 DPK의 자리수가 13자리로 되어 있는지 확인
print(f'5. Set S/N 자리수(13자리) 이상한 것의 개수 : {(str_len_check2 != 13).sum()}') # SET S/N의 자리수가 13자리로 되어 있는지 확인

1. DPK ID의 열의 개수: 312
2. DPK ID의 수량: 312
3. SET S/N의 수량: 311
4. DPK 자리수(13자리) 이상한 것의 개수 : 0
5. Set S/N 자리수(13자리) 이상한 것의 개수 : 0

In [117]:
sn_dupli = df_cbr['QCI_SN'].value_counts() # S/N이 중복된 것이 있는지 확인 후, 중복된 S/N을 series로 만들어둠
sn_dupli = sn_dupli[sn_dupli==2]

In [118]:
for sn in sn_dupli.index: # 중복된 S/N을 loop를 돌면서 문자열 'a'를 추가하여 중복을 피하게 함
    df_cbr.loc[(df_cbr['QCI_SN'] == sn), 'QCI_SN'] = [sn, sn[:-1]+'a']

In [119]:
sn_unique_qty = len(df_cbr['QCI_SN'].unique().tolist())
sn_unique_qty # unique한 S/N의 개수를 확인해봄

312

In [120]:
set(df1['PKID'].unique()) - set(df_cbr['DPK_ID'].unique()) # 2개의 데이타 프레임의 DPK 값이 완전히 일치하는 지 확인

set()

In [121]:
with open('D:/Data/DPK CBR DB.bin', 'rb') as f:
    cbr_db = pickle.load(f)

In [122]:
# 리턴하려는 DPK ID가 기존 CBR DB에 등록되어 있는 것이 없는지 확인
dup_dpk = []
for pkid in df_cbr['DPK_ID']:
    if pkid in cbr_db['PKID'].values:
        dup_dpk.append(pkid)
dup_dpk

['3556076246105',
 '3556076246090',
 '3556076246076',
 '3556076246094',
 '3422201492220',
 '3422201492205',
 '3556076246065',
 '3556076246110']

In [123]:
with open('D:/Data/DPK return db.bin', 'rb') as f:
    rt_db = pickle.load(f)

In [128]:
# 리턴하려는 DPK ID가 return DB에 등록되어 있는 것이 없는지 확인
for pkid in df_cbr['DPK_ID']:
    if pkid in rt_db['PKID'].values:
        dup_dpk.append(pkid)
dup_dpk

['3556076246105',
 '3556076246090',
 '3556076246076',
 '3556076246094',
 '3422201492220',
 '3422201492205',
 '3556076246065',
 '3556076246110',
 '3305441319096',
 '3305441319097',
 '3305441319099',
 '3305441319100']

In [129]:
df_cbr = df_cbr[~df_cbr['DPK_ID'].isin(dup_dpk)]

In [131]:
df_cbr = df_cbr.rename(columns={'DPK_ID':'PKID', 'QCI_SN':'SET serial No.'})

In [132]:
df2 = pd.merge(df1, df_cbr) # 2개의 데이타 프레임을 공통 컬럼인 'DPK_ID' 기준으로 합침

In [133]:
df2 = df2[['Site', 'SET serial No.', 'MS P/No.', 'PKID', 'FulfilledDateUTC']]

In [134]:
df2['1'] = None
df2['2'] = None
df2.columns = ['SITE', 'SET serial No.', 'MS P/No.', 'PKID', 'MSReceivedDateUTC ', 'Mac Address', 'Remark']
df2

,SITE,SET serial No.,MS P/No.,PKID,MSReceivedDateUTC,Mac Address,Remark
0,QT,211QCTB561705,KK3-00027,3422207253884,2022-10-26 13:53:52,None,None
1,QT,211QCQX561700,KK3-00027,3422207253874,2022-10-26 13:53:52,None,None
2,QT,211QCAS561352,KK3-00027,3422207250912,2022-10-26 13:53:52,None,None
3,QT,211QCNL563295,KK3-00027,3422207259907,2022-10-26 13:53:52,None,None
4,QT,211QCCV561411,KK3-00027,3422207250950,2022-10-26 13:53:52,None,None
...,...,...,...,...,...,...,...
295,QT,212QCBD559781,KK3-00027,3422208021132,2022-11-22 10:23:51,None,None
296,QT,212QCZP558829,KW9-00609,3422097688897,2022-11-22 10:23:51,None,None
297,QT,301QCZP558509,KK3-00027,3422208537682,2022-12-06 11:54:24,None,None
298,QT,212QCHE559641,KK3-00027,3422208021042,2022-11-22 10:23:51,None,None
299,QT,212QCVU559639,KK3-00027,3422208021052,2022-11-22 10:23:51,None,None

In [137]:
df2.to_excel(f'D:/Python result/DPK Return/{f1}_Quanta CBR register before DPK return_{df2.shape[0]}.xlsx', index = False)

## 3단계 : DPK Return 포맷 작성

In [138]:
df2['1'] = None
df2.columns = ['Site', 'SET serial No.', 'MS P/No.', 'PKID', 'Return Type', 'No Credit', 'ReturnDateUTC', 'Remark']
df2[['Return Type', 'No Credit', 'ReturnDateUTC', 'Remark']] = None
df2

,Site,SET serial No.,MS P/No.,PKID,Return Type,No Credit,ReturnDateUTC,Remark
0,QT,211QCTB561705,KK3-00027,3422207253884,None,None,None,None
1,QT,211QCQX561700,KK3-00027,3422207253874,None,None,None,None
2,QT,211QCAS561352,KK3-00027,3422207250912,None,None,None,None
3,QT,211QCNL563295,KK3-00027,3422207259907,None,None,None,None
4,QT,211QCCV561411,KK3-00027,3422207250950,None,None,None,None
...,...,...,...,...,...,...,...,...
295,QT,212QCBD559781,KK3-00027,3422208021132,None,None,None,None
296,QT,212QCZP558829,KW9-00609,3422097688897,None,None,None,None
297,QT,301QCZP558509,KK3-00027,3422208537682,None,None,None,None
298,QT,212QCHE559641,KK3-00027,3422208021042,None,None,None,None
299,QT,212QCVU559639,KK3-00027,3422208021052,None,None,None,None

In [139]:
return_type = 'ZOC'
no_credit = 'false'

In [140]:
df2['Return Type'] = return_type
df2['No Credit'] = no_credit
df2

,Site,SET serial No.,MS P/No.,PKID,Return Type,No Credit,ReturnDateUTC,Remark
0,QT,211QCTB561705,KK3-00027,3422207253884,ZOC,false,None,None
1,QT,211QCQX561700,KK3-00027,3422207253874,ZOC,false,None,None
2,QT,211QCAS561352,KK3-00027,3422207250912,ZOC,false,None,None
3,QT,211QCNL563295,KK3-00027,3422207259907,ZOC,false,None,None
4,QT,211QCCV561411,KK3-00027,3422207250950,ZOC,false,None,None
...,...,...,...,...,...,...,...,...
295,QT,212QCBD559781,KK3-00027,3422208021132,ZOC,false,None,None
296,QT,212QCZP558829,KW9-00609,3422097688897,ZOC,false,None,None
297,QT,301QCZP558509,KK3-00027,3422208537682,ZOC,false,None,None
298,QT,212QCHE559641,KK3-00027,3422208021042,ZOC,false,None,None
299,QT,212QCVU559639,KK3-00027,3422208021052,ZOC,false,None,None

In [146]:
df2.to_excel(f'D:/Python result/DPK Return/{f1}_quanta_DPK return_{df2.shape[0]}.xlsx', index = False)