In [1]:
from tool import *

In [2]:
with open('D:/Data/TCL box.bin', 'rb') as f:
    box = pickle.load(f)

In [15]:
# 박스 요청 정보 입력
신청일 = '2023-12-18'
사이트 = 'EKHQ'
모델명 = '27MR400.AKRQ'
수량 = 20

In [16]:
# DB에 새로운 데이터 추가
box = pd.concat([box, pd.DataFrame([[신청일, 사이트, 모델명, 수량]], columns=['Request Date', 'To Site', 'Mapping Model.Suffix', 'QTY'])]).reset_index(drop=True)
box

,Request Date,To Site,Mapping Model.Suffix,QTY,Shipment Schedule,B/L Number,Container Number
0,2023-11-14,ENCI,22MR410-B.AUSQ,20,Ship with 11/27W shipping batch,PLISZ4E13545,MRKU8876626
1,2023-11-08,EATH,22MR410-B.ATMQ,40,Ship with 11/27W shipping batch,PLISZ4E13560,FBIU0292678
2,2023-11-08,EATH,27MR400-B.ATMQ,20,Ship with 11/27W shipping batch,PLISZ4E13560,FBIU0292678
3,2023-11-08,EASL,27MR400-B.AHKQ,10,Ship with 11/27W shipping batch,PLISZ4E13682,FCIU6360956
4,2023-11-20,ENUS_V,27MR400-B.AUSQ,2,NaN,NaN,NaN
5,2023-12-18,EKHQ,22MR410.AKRQ,20,NaN,NaN,NaN
6,2023-12-18,EKHQ,27MR400.AKRQ,20,NaN,NaN,NaN

In [21]:
신청일 = '2023-11-08'
사이트 = 'EASL'
모델명 = '27MR400-B.AHKQ'
공급일정 = 'Ship with 11/27W shipping batch'

In [22]:
c1 = (box['Request Date'] == 신청일)
c2 = (box['To Site'] == 사이트)
c3 = (box['Mapping Model.Suffix'] == 모델명)

In [23]:
box.loc[c1 & c2 & c3, 'Shipment Schedule'] = 공급일정

In [24]:
box

,Request Date,To Site,Mapping Model.Suffix,QTY,Shipment Schedule
0,2023-11-14,ENCI,22MR410-B.AUSQ,20,Ship with 11/27W shipping batch
1,2023-11-08,EATH,22MR410-B.ATMQ,40,Ship with 11/27W shipping batch
2,2023-11-08,EATH,27MR400-B.ATMQ,20,Ship with 11/27W shipping batch
3,2023-11-08,EASL,27MR400-B.AHKQ,10,Ship with 11/27W shipping batch
4,2023-11-20,ENUS_V,27MR400-B.AUSQ,2,NaN

In [17]:
# DB 저장
with open('D:/Data/TCL box.bin', 'wb') as f:
    pickle.dump(box, f)

## 기존 Box 정보에 공급일정이나 결과 update

In [4]:
updated_df = pd.read_clipboard() # 새로운 정보가 업데이트된 엑셀을 불러와 데이터프레임으로 변환
updated_df

In [29]:
for row in updated_df.iterrows(): # 불러온 데이터프레임의 각 row 데이터를 불러와 box DB의 공급결과에 업데이트함
    c1 = (box['Request Date'] == row[1]['Request Date'])
    c2 = (box['To Site'] == row[1]['To Site'])
    c3 = (box['Mapping Model.Suffix'] == row[1]['Mapping Model.Suffix'])
    c4 = (box['QTY'] == row[1]['QTY'])
    box.loc[c1 & c2 & c3 & c4, ['B/L Number', 'Container Number']] = row[1]['B/L Number'], row[1]['Container Number']

In [30]:
box # DB에 업데이트 되었는지 확인

,Request Date,To Site,Mapping Model.Suffix,QTY,Shipment Schedule,B/L Number,Container Number
0,2023-11-14,ENCI,22MR410-B.AUSQ,20,Ship with 11/27W shipping batch,PLISZ4E13545,MRKU8876626
1,2023-11-08,EATH,22MR410-B.ATMQ,40,Ship with 11/27W shipping batch,PLISZ4E13560,FBIU0292678
2,2023-11-08,EATH,27MR400-B.ATMQ,20,Ship with 11/27W shipping batch,PLISZ4E13560,FBIU0292678
3,2023-11-08,EASL,27MR400-B.AHKQ,10,Ship with 11/27W shipping batch,PLISZ4E13682,FCIU6360956
4,2023-11-20,ENUS_V,27MR400-B.AUSQ,2,NaN,NaN,NaN

In [31]:
# DB 저장
with open('D:/Data/TCL box.bin', 'wb') as f:
    pickle.dump(box, f)