In [18]:
from tool import *

In [20]:
with open('D:/Data/contact_window.db', 'rb') as f:
    cont = pickle.load(f)

In [24]:
subs = 'LGEES'
person = '김원중'

In [25]:
c1 = cont['Subsidiary'] == subs
c2 = cont['Name'] == person

In [26]:
cont.loc[c1 & c2]

     Div Team Name Position Subsidiary           Email
18   MNT  MKT  김원중       책임      LGEES  wj.kim@lge.com
132   PC  MKT  김원중       책임      LGEES  wj.kim@lge.com

In [27]:
cont.loc[c1 & c2, ['Name', 'Position', 'Email']] = ['조홍철', '책임', 'hongchul.joe@lge.com']

In [28]:
cont[c1]

     Div Team Name Position Subsidiary                 Email
18   MNT  MKT  조홍철       책임      LGEES  hongchul.joe@lge.com
45   MNT  SCM  송명규       책임      LGEES    danny.song@lge.com
116   PC  SCM  한성일       책임      LGEES    sungil.han@lge.com
132   PC  MKT  조홍철       책임      LGEES  hongchul.joe@lge.com

In [29]:
# 변경된 DB 저장
with open('D:/Data/contact_window.db', 'wb') as f:
    pickle.dump(cont, f)