In [1]:
from tool import *

In [2]:
with open('D:/Data/contact_window.db', 'rb') as f:
    cont = pickle.load(f)

In [21]:
subs = 'TK|SA'
person = '최성용'
team = 'MKT'

In [22]:
c1 = cont['Subsidiary'].str.contains(subs)
c2 = cont['Name'] == person
c3 = cont['Team'] == team

In [24]:
# cont.loc[c1 & c2]
# cont.loc[c2]
# cont.loc[c1 & c2 & c3]
cont.loc[c1 & c3]

    Div Team Name Position Subsidiary                  Email
3   MNT  MKT  김대성       책임      LGESA  bryan1223.kim@lge.com
36  MNT  MKT  상민철       선임      LGETK   minchul.sang@lge.com

In [25]:
변경데이터 = ['최성용', '책임', 'seongyong.choe@lge.com']

In [26]:
cont.loc[c1 & c3 , ['Name', 'Position', 'Email']] = 변경데이터

In [27]:
cont[c1 & c3]

    Div Team Name Position Subsidiary                   Email
3   MNT  MKT  최성용       책임      LGESA  seongyong.choe@lge.com
36  MNT  MKT  최성용       책임      LGETK  seongyong.choe@lge.com

In [28]:
# 변경된 DB 저장
with open('D:/Data/contact_window.db', 'wb') as f:
    pickle.dump(cont, f)