In [1]:
from tool import *

In [26]:
with open('D:/Data/contact_window.db', 'rb') as f:
    cont = pickle.load(f)

In [27]:
subs = 'LGERA'
person = '이성호'
team = 'SCM'

In [28]:
c1 = cont['Subsidiary'] == subs
c2 = cont['Name'] == person
c3 = cont['Team'] == team

In [30]:
# cont.loc[c1 & c2]
cont.loc[c1 & c3]
# cont.loc[c1 & c2 & c3]

   Div Team Name Position Subsidiary               Email
6  MNT  SCM  김송이       책임      LGERA  songyi.kim@lge.com

In [31]:
변경데이터 = ['오석현', '책임', 'seokhyun.oh@lge.com']

In [32]:
cont.loc[c1 & c3 , ['Name', 'Position', 'Email']] = 변경데이터

In [33]:
cont[c1 ]

    Div Team Name Position Subsidiary                Email
6   MNT  SCM  오석현       책임      LGERA  seokhyun.oh@lge.com
80  MNT  MKT  이기현       책임      LGERA     joey.lee@lge.com

In [34]:
# 변경된 DB 저장
with open('D:/Data/contact_window.db', 'wb') as f:
    pickle.dump(cont, f)