# ODM 선적 실적 보기

In [1]:
from tool import *

In [2]:
# general options
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',50)

# 검색조건 설정

In [3]:
today = datetime.date.today()
vendor = 'Quanta'
model = '.'
ship_year = '2023'
ship_month = '2'
buyer= '.'
week = '.'
region = '.'
country = '.'
bl = '.'
bl_status = '.'

In [4]:
with open(f'D:/Data/{vendor} shipment result DB.bin', 'rb') as f:
     SR_df = pickle.load(f)
SR_df.reset_index(inplace=True)

In [5]:
cond1 = SR_df['Mapping Model.Suffix'].str.contains(model, na=True)
cond2 = SR_df['Ship Week year'].astype(str).str.contains(ship_year, na=True)
cond3 = SR_df['Ship Month'].astype(str).str.contains(ship_month, na=True)
cond4 = SR_df['Ship To'].str.contains(buyer, na=True)
cond5 = SR_df['Week Name'].str.contains(week)
cond6 = SR_df['Country'].str.contains(country, na=True)
cond7 = SR_df['BL No'].astype(str).str.contains(bl, na=True)
cond8 = SR_df['Region'].str.contains(region, na=True)
cond9 = SR_df['BL Status'].str.contains(bl_status, na=True)

## 임시함수 작성

In [9]:
# 매출화 요청시 대상 리스트 출력
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8 & cond9].pivot_table(
    'Ship', index=['Country', 'Ship To', 'Mapping Model.Suffix', 'PO No.', 'BL No', 'Ship Date', 'PO1 No', 'SO No.', 'Final Destination', 'BL Status'],
    aggfunc=sum).to_clipboard()

In [10]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8].pivot_table('Ship', index=['Country', 'Mapping Model.Suffix' ], columns=['Ship Year', 'Ship Month', 'Week Name'], aggfunc=sum, margins=True).to_clipboard()

In [11]:
SR_df.columns

Index(['PO No.', 'BL No', 'Mapping Model.Suffix', 'Ship To', 'Shipping',
       'Cancel', 'PO', 'OQC Report', 'OQC Date', 'OQC Result', 'Ship',
       'Issued Date', 'RSD', 'Ship Date', 'BL Status', 'Method', 'Price Term',
       'Unit Price', 'Currency', 'Payment Term', 'PO1 No', 'SO No.',
       'Final Destination', 'PO Week', 'PO Month', 'PO Year', 'RSD Week',
       'RSD Month', 'RSD Year', 'RSD Week Year', 'RSD Week Month',
       'RSD Week Day', 'RSD Week Name', 'Country', 'Region', 'Ship Week',
       'Ship Month', 'Ship Year', 'Ship Week month', 'Ship Week day',
       'Ship Week year', 'Week Name'],
      dtype='object')

In [12]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8].pivot_table('Ship', index=['Country', 'Ship To', 'Mapping Model.Suffix', 'PO No.', 'BL No', 'Ship Date'], columns='Ship Month', aggfunc=sum)

Ship Month                                                                  10.0
Country Ship To Mapping Model.Suffix PO No.       BL No        Ship Date
Spain   EEES    PH30N.AEUQ           JGMZ22024435 PLISZ2D01194 2022-10-30  100.0
                                     JGMZ22024938 PLISZ2D01194 2022-10-30  100.0

In [16]:
SR_df['Amt'] = SR_df['Unit Price'] * SR_df['Ship']

In [17]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8].pivot_table('Amt', index='Mapping Model.Suffix', columns=['Ship Year', 'Ship Month', 'Week Name'], aggfunc=sum, margins=True).fillna(0).convert_dtypes()

                                2022      All
                                10.0
                     2022-10-10(W41)
Mapping Model.Suffix
PH30N.AEUQ                   9029.72  9029.72
All                          9029.72  9029.72

# 조회

In [18]:
with open(f'D:/Data/{vendor} shipment result DB.bin', 'rb') as f:
     SR_df = pickle.load(f)

In [19]:
SR_df.loc['JPCZ22006821']

KeyError: 'JPCZ22006821'

In [ ]:
SR_df.shape

In [ ]:
SR_df = SR_df.drop(('JPCZ22006821', 'UTOC500381')).shape

In [ ]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8].to_clipboard()

In [ ]:
pd.pivot_table(SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8],
              index=['Country', 'Mapping Model.Suffix'], columns = 'Week Name', values = 'Ship',
              aggfunc=sum).fillna('-').to_clipboard()

In [ ]:
pd.pivot_table(SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7 & cond8],
               index=['BL Status', 'Country', 'Mapping Model.Suffix', 'Ship Date', 'BL No'], columns = ['Week Name'], values = 'Ship', aggfunc=sum).fillna('-').tail(20)

## 주의) 변경된 SR DB를 저장

In [ ]:
with open('D:/Data/Quanta shipment result DB.bin', 'wb') as f:
    pickle.dump(SR_df, f)

## 1-1) Quanta 실적

In [ ]:
with open('D:/Data/Quanta shipment result DB.bin', 'rb') as f:
     SR_df = pickle.load(f)

In [ ]:
SR_df.reset_index(inplace=True)

In [ ]:
search_year = '2022'
search_month = '.'
thisweek = '.'
model_name = '.'
site = 'EK'
country = '.'
bl = '22026000'

cond1 = (SR_df['Ship Year'].astype(str).str.contains(search_year, na=True))
cond2 = (SR_df['Ship Week month'].astype(str).str.contains(search_month, na=True))
cond3 = (SR_df['Week Name'].str.contains(thisweek, na=True))
cond4 = (SR_df['Mapping Model.Suffix'].str.contains(model_name, na=True))
cond5 = (SR_df['Ship To'].str.contains(site, na=True))
cond6 = (SR_df['Country'].str.contains(country, na=True))
cond7 = (SR_df['BL No'].astype(str).str.contains(bl, na=True))

In [ ]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6 & cond7]

In [ ]:
# 모델명으로 조회
SR_df[SR_df['Mapping Model.Suffix'] == '11TC50Q-E.AC10ML']

In [ ]:
# 특정 BL 번호로 조회
SR_df.swaplevel(0,1).loc[''].groupby(['Mapping Model.Suffix', 'PO No.', 'Ship Date'])['Ship'].sum().reset_index()

In [ ]:
# 특정 년도, 월의 선적 실적 출력
SR_df[(SR_df['Ship Year'] == 2020) & (SR_df['Ship Month'] == 3)].sort_values(by='Ship Date')

In [ ]:
# 테이블로 출력
pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Series'] == '15U40Q') & (SR_df['Ship Month']<13)], index=['Region', 'Country', 'Ship To', 'Mapping Model.Suffix'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

In [ ]:
# 이번주, 지난 주 선적 실적 보기
today = datetime.date.today()
seven_day_ago = today - datetime.timedelta(days=7)
this_week = f'{getfirstdate_year(today)}-{getfirstdate_month(today)}-{getfirstdate_day(today)}(W{today.isocalendar()[1]:02d})'
last_week = f'{getfirstdate_year(seven_day_ago)}-{getfirstdate_month(seven_day_ago)}-{getfirstdate_day(seven_day_ago)}(W{seven_day_ago.isocalendar()[1]:02d})'
pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Ship Month'] == 3) & (SR_df['Week Name'] == this_week) ], index=['Region', 'BL No', 'BL Status', 'Country', 'Ship To', 'Mapping Model.Suffix', 'PO No.','Ship Date'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

In [ ]:
pdr_df = get_pdr()

In [ ]:
pd.pivot_table(SR_df[SR_df['Ship Year'] == 2022] , index=['Country', 'Ship To', 'Series', 'Mapping Model.Suffix'], columns=['Ship Year', 'Ship Month', 'Week Name'], values=['Ship']).fillna('-').droplevel([0,1,2], axis=1).reset_index()

In [ ]:
# 지역별, 모델별, 월별, 선적실적 보기
pd.merge(pd.pivot_table(SR_df[SR_df['Ship Year'] == 2022] , index=['Country', 'Ship To', 'Series', 'Mapping Model.Suffix'], columns=['Ship Year', 'Ship Month', 'Week Name'], values=['Ship'], aggfunc=sum).fillna('-').droplevel([0,1,2], axis=1).reset_index(), pdr_df, how='left', left_on='Mapping Model.Suffix', right_on='Model.Suffix').to_excel('D:/Python result/res2.xlsx')

## 1-2) Quanta Open PO 구하기

In [ ]:
with open('D:/Data/Quanta PO DB.bin', 'rb') as f:
    df = pickle.load(f)

In [ ]:
df.head(1)

In [ ]:
df.loc['YPCZ21003095']

In [ ]:
df[df['Mapping Model.Suffix'].str.contains('15UD470')]

In [ ]:
df['Mapping Model.Suffix'].unique()

In [ ]:
with open('D:/Data/Quanta PO DB.bin', 'rb') as f:
    PO_df = pickle.load(f)
with open('D:/Data/Quanta shipment result DB.bin', 'rb') as f:
    SR_df = pickle.load(f)

open_po_info = {} # Open PO 정보를 dictionary 형태로 저장
grouped = SR_df.groupby('PO No.')
for i in PO_df.index:
    try:
        shipped_qty = grouped.get_group(i)['Ship'].sum()
    except:
        shipped_qty = 0
    open_po_qty = PO_df.loc[i, 'PO'] - shipped_qty
    if open_po_qty > 0:
        open_po_info[i] = open_po_qty

open_po_df = PO_df.loc[open_po_info.keys()]
open_po_df['open qty'] = open_po_info.values()

In [ ]:
pd.pivot_table(open_po_df[open_po_df['Cancel'] == 'N'], index=['Series', 'Ship To', 'Mapping Model.Suffix'], columns=['RSD Week Name'], values=['open qty'], aggfunc=sum).fillna('-').to_excel('c.xlsx')

## 2-1) Pegatron 실적

In [ ]:
with open('D:/Data/Pegatron shipment result DB.bin', 'rb') as f:
     SR_df = pickle.load(f)

In [ ]:
SR_df.columns

In [ ]:
pd.pivot_table(SR_df, index=['Series'], columns=['Ship Year', 'Ship Month'], values='Ship', aggfunc=sum).fillna('-').to_excel('D:/Python result/pegatron ship result.xlsx')

In [ ]:
pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Ship Month']==4)], index=['Region', 'Country', 'Ship To', 'Mapping Model.Suffix', 'BL No'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

In [ ]:
# 이번주, 지난 주 선적 실적 보기
today = datetime.date.today()
seven_day_ago = today - datetime.timedelta(days=7)
this_week = f'{getfirstdate_year(today)}-{getfirstdate_month(today)}-{getfirstdate_day(today)}(W{today.isocalendar()[1]:02d})'
last_week = f'{getfirstdate_year(seven_day_ago)}-{getfirstdate_month(seven_day_ago)}-{getfirstdate_day(seven_day_ago)}(W{seven_day_ago.isocalendar()[1]:02d})'
pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Ship Month'] == 4) & (SR_df['Week Name'] == this_week) ], index=['Region', 'BL No', 'BL Status', 'Country', 'Ship To', 'Mapping Model.Suffix', 'PO No.','Ship Date'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

## 2-2) Pegatron OPEN PO 구하기

In [ ]:
with open('D:/Data/Pegatron PO DB.bin', 'rb') as f:
    PO_df = pickle.load(f)
with open('D:/Data/Pegatron shipment result DB.bin', 'rb') as f:
    SR_df = pickle.load(f)

open_po_info = {} # Open PO 정보를 dictionary 형태로 저장
grouped = SR_df.groupby('PO No.')
for i in PO_df.index:
    try:
        shipped_qty = grouped.get_group(i)['Ship'].sum()
    except:
        shipped_qty = 0
    open_po_qty = PO_df.loc[i, 'PO'] - shipped_qty
    if open_po_qty > 0:
        open_po_info[i] = open_po_qty

open_po_df = PO_df.loc[open_po_info.keys()]
open_po_df['open qty'] = open_po_info.values()
pd.pivot_table(open_po_df[open_po_df['Cancel'] == 'N'], index=['Series', 'Ship To', 'Mapping Model.Suffix'], 
               columns=['RSD Week Name'], values=['open qty'], aggfunc=sum).fillna('-')

## 3-1) Wanlida 실적

In [ ]:
with open('D:/Data/Wanlida shipment result DB.bin', 'rb') as f:
     SR_df = pickle.load(f)

## 검색 조건 설정

In [ ]:
today = datetime.date.today()
search_year = '2022'
search_month = '.'
week = '.'
model_name = '.'
site = 'GF'
country = '.'

cond1 = (SR_df['Ship Year'].astype(str).str.contains(search_year, na=True))
cond2 = (SR_df['Ship Week month'].astype(str).str.contains(search_month, na=True))
cond3 = (SR_df['Week Name'].str.contains(week))
cond4 = (SR_df['Mapping Model.Suffix'].str.contains(model_name, na=True))
cond5 = (SR_df['Ship To'].str.contains(site, na=True))
cond6 = (SR_df['Country'].str.contains(country, na=True))

In [ ]:
SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6]

In [ ]:
pd.pivot_table( SR_df[cond1 & cond2 & cond3 & cond4 & cond5 & cond6], index=['BL No', 'Ship Date', 'Final Destination', 'Ship To', 'Mapping Model.Suffix'], values = 'Ship', aggfunc=sum )

In [ ]:

pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Ship Month'] == 4) & (SR_df['Week Name'] == thisweek) ], index=['Region', 'BL No', 'BL Status', 'Country', 'Ship To', 'Mapping Model.Suffix', 'PO No.','Ship Date', 'Unit Price'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

In [ ]:
SR_df.swaplevel(0,1).loc['PLISZ2D00333', ['Region', 'Country', 'Ship To', 'Mapping Model.Suffix', 'Ship', 'PO1 No', 'SO No.', 'Final Destination']]

In [ ]:
pd.pivot_table(SR_df[(SR_df['Ship Year']==2022) & (SR_df['Ship Month']==3)], index=['Region', 'Country', 'Ship To', 'Mapping Model.Suffix', 'BL No'], columns=['Ship Year', 'Ship Month', 'Week Name'], values = 'Ship', aggfunc=sum).fillna('-')

## 3-2) Wanlida OPEN PO 구하기

In [ ]:
open_po_df = get_open_po('Wanlida')
pd.pivot_table(open_po_df[open_po_df['Cancel'] == 'N'], index=['Ship To', 'Mapping Model.Suffix'], 
               columns=['RSD Month', 'RSD Week Name'], values=['Open_Qty'], aggfunc=sum)

In [ ]:
open_po_df[open_po_df['Ship To'].str.contains('GF')]

## 4) PC ODM 월별 선적 실적 보기

In [10]:
with open('D:/Data/Quanta shipment result DB.bin', 'rb') as f:
     SR_df_Quanta = pickle.load(f)
with open('D:/Data/Pegatron shipment result DB.bin', 'rb') as f:
     SR_df_Pegatron = pickle.load(f)
with open('D:/Data/Wingtech shipment result DB.bin', 'rb') as f:
     SR_df_Wingtech = pickle.load(f)
qt_result = pd.pivot_table(SR_df_Quanta[SR_df_Quanta['Ship Year'] == 2023], index=['Country', 'Series'], columns='Ship Month', values='Ship', aggfunc=sum).fillna(0)
pg_result = pd.pivot_table(SR_df_Pegatron[SR_df_Pegatron['Ship Year'] == 2023], index=['Country', 'Series'], columns='Ship Month', values='Ship', aggfunc=sum).fillna(0)
wt_result = pd.pivot_table(SR_df_Wingtech[SR_df_Wingtech['Ship Year'] == 2023], index=['Country', 'Series'], columns='Ship Month', values='Ship', aggfunc=sum).fillna(0)

df = pd.concat([qt_result, pg_result, wt_result]).reset_index()
df.insert(0, 'From Site', df['Series'].replace(vendor_find))
df

Ship Month From Site     Country  Series     1.0     2.0
0             Quanta  Austrailia  16T90Q    25.0     0.0
1             Quanta      Canada  16T90Q    40.0     0.0
2             Quanta     Germany  16T90Q    90.0    25.0
3             Quanta       Korea  11T50Q    57.0     0.0
4             Quanta       Korea  14T90Q     5.0     0.0
5             Quanta       Korea  15U40Q   950.0     0.0
6             Quanta       Korea  15U40R  3435.0    15.0
7             Quanta       Korea  15U50P   867.0   284.0
8             Quanta       Korea  15U50Q  7153.0  4128.0
9             Quanta       Korea  16T90Q   764.0   122.0
10            Quanta       Korea  16T90R    30.0     0.0
11            Quanta      Poland  16T90Q    10.0     0.0
12            Quanta   Singapore  14T90Q    15.0     0.0
13            Quanta   Singapore  16T90Q    20.0     0.0
14            Quanta       Spain  14T90Q    40.0     0.0
15            Quanta      Taiwan  16T90Q    10.0     0.0
16            Quanta          UK  14T90Q    10.0     0.0
17            Quanta          UK  16T90Q     5.0     0.0
18            Quanta          US  14T90Q   145.0     0.0
19            Quanta          US  16T90Q   755.0     0.0
20          Pegatron      Canada  17U70Q     5.0     NaN
21          Pegatron     Germany   CL600  1330.0     NaN
22          Pegatron       Korea  14T30Q   870.0     NaN
23          Pegatron       Korea  17U70P   310.0     NaN
24          Pegatron       Korea  17U70Q    20.0     NaN
25          Pegatron       Korea   CL600    80.0     NaN
26          Pegatron       Spain  13U70Q    30.0     NaN
27          Pegatron          UK   CL600   140.0     NaN
28          Pegatron          US  17U70Q    15.0     NaN
29          Pegatron          US   CL600   955.0     NaN
30          Wingtech       Korea  10A30Q  1860.0     NaN

In [4]:
def get_month_name(month_number):
    """Convert a month number (1-12) to the month name."""
    if isinstance(month_number, (int, float)):
        date = datetime.datetime.strptime(f"{int(month_number)}", "%m")
        return date.strftime("%b")
    else:
        return month_number

In [20]:
df1 = df.groupby(['From Site', 'Country', 'Series']).sum()
month_type = CategoricalDtype(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], ordered=True)
df1.columns = df1.columns.astype(month_type)
d = datetime.date.today()
df1.loc[:, :get_month_name(d.month-1)].to_excel('D:/PC_ODM_월별 실적/2023년 PC_ODM_월별 선적 실적_{}.xlsx'.format(d.strftime('%y%m%d')))

Ship Month                      Jan     Feb
From Site Country    Series
Pegatron  Canada     17U70Q     5.0     0.0
          Germany    CL600   1330.0     0.0
          Korea      14T30Q   870.0     0.0
                     17U70P   310.0     0.0
                     17U70Q    20.0     0.0
                     CL600     80.0     0.0
          Spain      13U70Q    30.0     0.0
          UK         CL600    140.0     0.0
          US         17U70Q    15.0     0.0
                     CL600    955.0     0.0
Quanta    Austrailia 16T90Q    25.0     0.0
          Canada     16T90Q    40.0     0.0
          Germany    16T90Q    90.0    25.0
          Korea      11T50Q    57.0     0.0
                     14T90Q     5.0     0.0
                     15U40Q   950.0     0.0
                     15U40R  3435.0    15.0
                     15U50P   867.0   284.0
                     15U50Q  7153.0  4128.0
                     16T90Q   764.0   122.0
                     16T90R    30.0     0.0
          Poland     16T90Q    10.0     0.0
          Singapore  14T90Q    15.0     0.0
                     16T90Q    20.0     0.0
          Spain      14T90Q    40.0     0.0
          Taiwan     16T90Q    10.0     0.0
          UK         14T90Q    10.0     0.0
                     16T90Q     5.0     0.0
          US         14T90Q   145.0     0.0
                     16T90Q   755.0     0.0
Wingtech  Korea      10A30Q  1860.0     0.0